@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-box {
    box-shadow: 2px 0 10px 0 rgba(140, 192, 189, 0.12), 
                2px 0 10px 0 rgba(168, 188, 189, 0.09);
    transform: scale(1.1);
    transition: all 0.5s;
  }


/* CSS */
.overflow-y-auto::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Cor do preenchimento da barra de rolagem */
  border-radius: 4px; /* Raio de borda da barra de rolagem */
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent; /* Fundo transparente da área da barra de rolagem */
}
